* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

img {
            img::after {
            content: "";
            height: 100%;
            width: 100%;
            position: absolute;
            left: 0;
            top: 0;
            background: url(iphonex.png ) no-repeat center;
        }
}